body {
  font-family: cursive;
}


.container {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.left {
  display: flex;
  vertical-align: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 400px;
  width: 100px;
  margin: 10px;
  border: 3px solid black;
  margin-left: 10px
}


.card {
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 400px;
  height: 100;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}


.like-btn {
  background-color: rgb(255, 230, 0);
  color: black;
  border: 2px solid black;
  height: 40px;
  width: 80px;
  box-shadow: 5px 5px #000000;
}

.nav {
    background-color: rgba(17, 16, 16, 0.883);
    color: white;
    padding: 10px;
    width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.feed {
  font-size:larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 40px;
  height: 80px;
  border-radius: 50%;
}